.input{
    height: 35px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
}

.btn{
    height: 35px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}